<div class="body-container">
  <div class="header">
    <button type="button" (click)="refreshData()">Osveži</button>

    <button (click)="switchLanguage('si')">Slovenščina</button>
    <button (click)="switchLanguage('en')">English</button>
  </div>
  <div class="container">
    <div class="time-stamp">
      <h3>Maribor</h3>
      <h3>{{ "Updated" | translate }} {{  date }} {{ "At" | translate }} {{ time }}</h3>
    </div>
    <div class="fields">
      <div class="field-left">
        <h2 class="title">{{ "TemeperatureNow" | translate }}</h2>
        <ng-container *ngIf="reportNow">
          <div>{{ reportNow.description }}</div>
          <div>{{ "TemeperatureMin" | translate }}: {{ reportNow.min }}</div>
          <div>{{ "TemeperatureMax" | translate }}: {{ reportNow.max }}</div>
        </ng-container>
      </div>
      <div class="field-right">
        <h2 class="title">{{ "5DaysWeatherReport" | translate }}</h2>
        <ng-container *ngIf="reportFiveDays">
          <div *ngFor="let result of reportFiveDays; let i = index">
            <h3>{{ result.date }}</h3>
            <div *ngFor="let info of result.data; let i = index">
              <div>{{ info.time }}</div>
              <div>{{ info.temp }}</div>
              <div>{{ info.description }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
