@import '../../styles/base';

.main-content {
  background-color: $main-content-bg-color;
  color: $main-content-color;
  width: 320px;

  .header {
    background-color: $header-background-color;
    color: $header-text-color;
    height: 44px;

    .title {
      font-size: 0.8rem;
      line-height: 1rem;
    }

    .flag {
      height: 20px;
    }
  }

  .content {
    padding: 16px;

    .resizable-content {
      height: calc(100vh - 76px);
      min-height: 404px;

      .time-stamp {
        color: $header-background-color;

        > div {
          font-size: 0.9rem;
        }
      }

      .fields {
        .text-big-container {
          font-size: 2rem;
        }

        .date-text {
          font-size: 1rem;
          font-weight: bold;
        }

        .text-container {
          margin-bottom: 10px;
        }

        .text-data-container {
          border-bottom: solid 1px $text-data-container-color;
          line-height: 1.6rem;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .main-content {
    width: 460px;

    .header {
      height: 56px;

      .title {
        font-size: 1rem;
      }

      .flag {
        height: 23px;
      }
    }

    .content {
      padding: 32px;

      .resizable-content {
        height: calc(100vh - 120px);

        .time-stamp {
          > div {
            font-size: 1.1rem;
          }
        }

        .fields {
          .text-small-container {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
