$background-color: white;
$header-background-color: #e86e1e;
$header-text-color: blue;

.body-container {
  background-color: $background-color;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 480px;
  width: 320px;

  .header {
    background-color: $header-background-color;
    color: $header-text-color;
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .content {
    display: flex;
    align-items: center;
    height: calc(100vh - 44px);

    .container {
      height: 404px;
      min-height: 404px;
      margin: 16px;
      overflow-y: auto;
      width: 288px;

      .time-stamp {
        color: $header-background-color;
        width: 100%;
        text-align: center;

        .text {
          font-size: 15px;
        }
      }

      .fields {
        display: flex;
        height: 100%;
        width: 100%;
        text-align: center;

        .title-text {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 20px;
        }

        .date-text {
          font-size: 1rem;
          font-weight: bold;
        }

        .text-container {
          border-bottom: dashed 1px black;
          margin-bottom: 10px;
        }

        .text-small-container {
          border-bottom: dashed 1px black;

          .text-small {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .body-container {
    width: 460px;

    .header {
      height: 56px;
    }

    .content {
      display: flex;
      height: calc(100vh - 56px);

      .container {
        margin: 32px;
        width: 396px;
      }
    }
  }
}
