/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  height: 100vh;
}

/*+++++++ Scrollbar **+++++++/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e1d9d1;
}
